
# app server
APP_SERVER_HOST="{{ app_cluster_ip }}"
APP_SERVER_PORT="{{ app_server_port }}"
APP_SERVER_PATH="{{ app_server_path }}"

# backup server
BACKUP_SERVER_HOST="{{ backup_server_host }}"
BACKUP_SERVER_PORT="{{ backup_server_port }}"
BACKUP_SERVER_PATH="{{ backup_server_path }}"

# postgresql
POSTGRESQL_HOST="{{ db_cluster_ip }}"
POSTGRESQL_PORT="{{ postgresql_port }}"
POSTGRESQL_USERNAME="{{ postgresql_username }}"
POSTGRESQL_PASSWORD="{{ postgresql_password }}"
POSTGRESQL_DB="{{ postgresql_database }}"

# redis
REDIS_HOST="{{ db_cluster_ip }}"
REDIS_PORT="{{ redis_port }}"
REDIS_DB="{{ redis_db }}"
