
# app
BASE_PATH="{{ app_base_path }}"
HLS_FOLDER="{{ app_hls_folder }}"
HOST_NAME="{{ app_hostname }}"

# postgresql
POSTGRESQL_HOST="{{ postgresql_host }}"
POSTGRESQL_PORT="{{ postgresql_port }}"
POSTGRESQL_USERNAME="{{ postgresql_username }}"
POSTGRESQL_PASSWORD="{{ postgresql_password }}"
POSTGRESQL_DB="{{ postgresql_database }}"

# redis
REDIS_HOST="{{ redis_host }}"
REDIS_PORT="{{ redis_port }}"
REDIS_DB="{{ redis_db }}"

# solr
SUNSPOT_SOLR_HOSTNAME="{{ solr_host }}"
SUNSPOT_SOLR_PORT="{{ solr_port }}"
SUNSPOT_SOLR_PATH="/solr/{{ solr_core_name }}"

# gcp
APP_GCP_PROJECT_ID="{{ app_gcp_project_id }}"
APP_GCP_STORAGE_BUCKET="{{ app_gcp_storage_bucket }}"
