
# app
export BASE_PATH="{{ app_base_path }}"
export HLS_FOLDER="{{ app_hls_folder }}"
export HOST_NAME="{{ app_hostname }}"

# postgresql
export POSTGRESQL_HOST="{{ postgresql_host }}"
export POSTGRESQL_PORT="{{ postgresql_port }}"
export POSTGRESQL_USERNAME="{{ postgresql_username }}"
export POSTGRESQL_PASSWORD="{{ postgresql_password }}"
export POSTGRESQL_DB="{{ postgresql_database }}"

# redis
export REDIS_HOST="{{ redis_host }}"
export REDIS_PORT="{{ redis_port }}"
export REDIS_DB="{{ redis_db }}"

# solr
export SUNSPOT_SOLR_HOSTNAME="{{ solr_host }}"
export SUNSPOT_SOLR_PORT="{{ solr_port }}"
export SUNSPOT_SOLR_PATH="/solr/{{ solr_core_name }}"

# gcp
export APP_GCP_PROJECT_ID="{{ app_gcp_project_id }}"
export APP_GCP_STORAGE_BUCKET="{{ app_gcp_storage_bucket }}"
