
# postgresql
POSTGRESQL_HOST="{{ postgresql_host }}"
POSTGRESQL_PORT="{{ postgresql_port }}"
POSTGRESQL_USERNAME="{{ postgresql_username }}"
POSTGRESQL_PASSWORD="{{ postgresql_password }}"
POSTGRESQL_DB="{{ postgresql_db }}"

# redis
REDIS_HOST="{{ redis_host }}"
REDIS_PORT="{{ redis_port }}"
REDIS_DB="{{ redis_db }}"

# gcp
GCP_PROJECT_ID="{{ gcp_project_id }}"
GCP_BUCKET_NAME="{{ gcp_storage_bucket }}"
GCP_CONFIG_PATH="{{ gcp_config_path }}"
GCP_ROOT_PATH="{{ gcp_root_path }}"
