#!/usr/bin/env ruby

require "fileutils"
require "google/cloud/storage"

GCP_ENABLED='{{ app_gcp_enabled }}'

if GCP_ENABLED == 'true'

  storage = Google::Cloud::Storage.new(
  	project_id: '{{ gcp_project_id }}',
  	credentials: 'gcp.json'
  )

  bucket = storage.bucket '{{ gcp_storage_bucket }}'

  file = bucket.file '{{ app_dragonfly_remote_file_path }}'

  if !file.nil?

    # download file from gcp bucket
  	file.download '{{ app_dragonfly_local_file_path }}'

  end
end

exit 0
