#!/usr/bin/env ruby

require "google/cloud/storage"

storage = Google::Cloud::Storage.new(
	project_id: '{{ app_gcp_project_id }}',
	credentials: 'gcp.json'
)

bucket = storage.bucket '{{ app_gcp_storage_bucket }}'

if File.exists? '{{ app_bundle_archive_path }}'

	bucket.create_file '{{ app_bundle_archive_path }}', '{{ app_bundle_archive_remote_path }}'

end

exit 0
