#!/usr/bin/env ruby

require "fileutils"
require "google/cloud/storage"

GCP_ENABLED='{{ gcp_enabled }}'

if GCP_ENABLED == 'false'

  # normalize path
  path = "{{ app_bundle_archive_remote_path }}".gsub('/', '-')

  if File.exists? "/tmp/#{path}"

    # copy file from /tmp folder
    FileUtils.cp "/tmp/#{path}", '{{ app_bundle_archive_path }}'

  end
else

  # download file from gcp bucket
  storage = Google::Cloud::Storage.new(
  	project_id: '{{ gcp_project_id }}',
  	credentials: 'gcp.json'
  )

  bucket = storage.bucket '{{ gcp_storage_bucket }}'

  file = bucket.file '{{ app_bundle_archive_remote_path }}'

  if !file.nil?

  	file.download '{{ app_bundle_archive_path }}'

  end
end

exit 0
