#!/bin/bash

NAME="{{ app_puma_service_name }}"
APP_PATH="{{ app_path }}"
PID="{{ app_puma_pid_path }}"

start() {
  cd $APP_PATH
  echo -n $"Starting $NAME: "
  daemon --pidfile=$PID --user=$APP_USER /usr/bin/bundle2.7 exec puma -C config/puma.rb -e production -b unix:///{{ puma_sock }}
  return [ $? -eq 0 ]
}

stop() {
  cd $APP_PATH
  echo -n $"Stopping $NAME: "
  killproc -p $PID
  return [ $? -eq 0 ]
}

restart() {
  stop
  start
}

get_status() {
  status -p $PID $NAME
}

query_status() {
  get_status >/dev/null 2>&1
}

case "$1" in
  start)
    query_status && exit 0
    start
    ;;
  stop)
    query_status || exit 0
    stop
    ;;
  restart)
    restart
    ;;
  status)
    get_status
    exit $?
    ;;
  *)
    N=/etc/init.d/$NAME
    echo "Usage: $N {start|stop|restart|status}" >&2
    exit 1
    ;;
esac

exit 0