[Unit]
Description="{{ app_puma_service_description }}"
Requires="{{ app_puma_service_name }}.target" systemd-networkd.service
After="{{ app_puma_service_name }}.target" systemd-networkd.service
AllowIsolate=yes
