#!/usr/bin/env ruby

require "fileutils"
require "google/cloud/storage"

GCP_ENABLED="{{ app_gcp_enabled }}"

if GCP_ENABLED == "false"

  # normalize path
  path = "{{ app_bundle_archive_remote_path }}".gsub("/", "-")

  if !File.exists? "/tmp/#{path}"

    # copy file to /tmp folder
    FileUtils.cp "{{ app_bundle_archive_path }}", "/tmp/#{path}"

  end
else

  storage = Google::Cloud::Storage.new(
       project_id: "{{ gcp_project_id }}",
       credentials: "/home/{{ ansible_user }}/gcp.json"
  )

  bucket = storage.bucket "{{ gcp_storage_bucket }}"

  remote_file = bucket.file "{{ app_bundle_archive_remote_path }}"

  if File.exists?("{{ app_bundle_archive_path }}") && remote_file.nil?

    # upload file to gcp bucket
    `gsutil cp {{ app_bundle_archive_path }} \
        gs://{{ gcp_storage_bucket }}/{{ app_bundle_archive_remote_path }}`

  end
end
