[Unit]
After=network.target
Description={{ app_puma_service_description }}
Documentation=http://github.com/ngonzalez

[Service]
Type=simple
WorkingDirectory={{ app_path_backend }}
ExecStart=/usr/bin/bundle3.0 exec puma -C config/puma.rb -e production -b unix:////tmp/puma.sock
EnvironmentFile={{ app_path_backend }}/.env
PIDFile={{ app_path_backend }}{{ app_puma_pid_path }}
Restart=always
User={{ ansible_user }}
Group={{ ansible_user }}
SyslogIdentifier=puma
LimitNOFILE=65535
TimeoutStopSec=0

[Install]
WantedBy=multi-user.target
Alias={{ app_puma_service_name }}.service
