#!/usr/bin/env ruby

require "google/cloud/storage"

storage = Google::Cloud::Storage.new(
	project_id: '{{ gcp_project_id }}',
	credentials: '{{ update_db_gcp_config_path }}'
)

bucket = storage.bucket '{{ gcp_storage_bucket }}'

file = bucket.file '{{ update_db_pg_dump_archive_remote_path }}'

if !file.nil?

	file.download '{{ update_db_pg_dump_archive_path }}'

end

exit 0
