APP_HOSTNAME="{{ app_hostname }}"
APP_PORT="{{ app_port }}"
NGINX_PORT="{{ nginx_port }}"
AZURE_ACCOUNT_NAME="{{ azure_account_name }}"
AZURE_CONTAINER_NAME="{{ azure_container_name }}"
AZURE_ACCESS_KEY="{{ azure_access_key }}"
POSTGRESQL_HOST="{{ postgresql_host }}"
POSTGRESQL_PORT="{{ postgresql_port }}"
POSTGRESQL_USERNAME="{{ postgresql_username }}"
POSTGRESQL_PASSWORD="{{ postgresql_password }}"
POSTGRESQL_DB="{{ postgresql_db }}"
REDIS_HOST="{{ redis_host }}"
REDIS_PORT="{{ redis_port }}"
REDIS_DB="{{ redis_db }}"
SECRET_KEY_BASE="{{ secret_key_base }}"
