NGINX_HOST="{{ nginx_host }}"
ACCOUNT_DATA_URL="{{ account_data_url }}"
ACCOUNT_ALLOW_ADVERTISMENT="{{ account_allow_advertisment }}"
ACCOUNT_ALLOW_FILTERING_CONTENT="{{ account_allow_filtering_content }}"
