EC_PRIVATE_KEY="{{ ec_private_key }}"
SECRET_KEY_BASE="{{ secret_key_base }}"
GMAIL_ADDRESS="{{ gmail_address }}"
GMAIL_PASSWORD="{{ gmail_password }}"
APP_HOSTNAME="{{ app_hostname }}"
APP_PORT="{{ app_port }}"
NGINX_PORT="{{ nginx_port }}"
NGINX_HOST="{{ nginx_host }}"
NGINX_STATUS_PORT="{{ nginx_status_port }}"
POSTGRESQL_HOST="{{ postgresql_host }}"
POSTGRESQL_DB="{{ postgresql_db }}"
POSTGRESQL_PASSWORD="{{ postgresql_password }}"
POSTGRESQL_PORT="{{ postgresql_port }}"
POSTGRESQL_USERNAME="{{ postgresql_username }}"
