SECRET_KEY_BASE="{{ showcase_secret_key_base }}"
WEB_REGISTRATION_ENCRYPTION_KEY="{{ showcase_web_registration_encryption_key }}"
GMAIL_ADDRESS="{{ showcase_gmail_address }}"
GMAIL_PASSWORD="{{ showcase_gmail_password }}"
APP_HOSTNAME="{{ showcase_app_hostname }}"
APP_PORT="{{ showcase_app_port }}"
NGINX_PORT="{{ showcase_nginx_port }}"
NGINX_HOST="{{ showcase_nginx_host }}"
NGINX_STATUS_PORT="{{ showcase_nginx_status_port }}"
NGINX_WEB_REGISTRATION_PORT="{{ showcase_nginx_web_registration_port }}"
NGINX_WEB_REGISTRATION_HOST="{{ showcase_nginx_web_registration_host }}"
NGINX_WEB_REGISTRATION_TOKEN="{{ showcase_nginx_web_registration_token }}"
POSTGRESQL_HOST="{{ showcase_postgresql_host }}"
POSTGRESQL_PORT="{{ showcase_postgresql_port }}"
POSTGRESQL_USERNAME="{{ showcase_postgresql_username }}"
POSTGRESQL_PASSWORD="{{ showcase_postgresql_password }}"
POSTGRESQL_DB="{{ showcase_postgresql_db }}"
RAILS_MASTER_KEY="{{ showcase_rails_master_key }}"
