upstream puma_server {
	server unix:{{ nginx_puma_sock }};
}

server {
  listen {{ nginx_http_port }} default_server;
  listen [::]:{{ nginx_http_port }} default_server;

  access_log {{ nginx_access_log }} main;
  error_log {{ nginx_error_log }} warn;

  server_name _;

  return 301 https://$host$request_uri;
}

server {
  include {{ nginx_ssl_path }};
  include {{ nginx_ssl_params_path }};

  listen {{ nginx_https_port }} ssl default_server;
  listen [::]:{{ nginx_https_port }} ssl default_server;

  access_log {{ nginx_access_log }} compression;
  error_log {{ nginx_error_log }} warn;

  gzip on;
  gzip_types *;

  server_name _;

  location /media {
    proxy_pass http://puma_server;
    break;
  }

  location / {
    autoindex on;
    if (!-f $request_filename) {
      proxy_pass http://puma_server;
      break;
    }
  }
}
