filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/**/*.log

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 3

{% if is_elk_server is defined %}
setup.kibana:
  host: "{{ kibana.host }}:{{ kibana.port }}"
{% endif %}

output.logstash:
  hosts: ["{{ logstash.host if is_elk_server is defined else hostvars['stretch01'].docker_ip }}:{{ logstash.inputs.beats }}"]
